@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.nav-bar-items {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 5em;
  background-color: black;
  position: sticky;
}

.nav-bar-item {
  list-style: none;
}

.logo {
  font-size: 1.2rem;
}

.nav-bar-items a {
  text-decoration: none;
  color: white;
}

.nav-bar-item:hover {
  border-bottom: 1px solid white;
  transition: .3s;
}

.type-el {
  font-size: 1.2rem;
}

main {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2em;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
}

