@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.main-text {
  font-size: 4rem;
}

main h1 {
  font-size: 1.5rem;
}


.nav-bar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: black;
  position: sticky;
  font-size: .8rem;
  padding: 1em;
}

.nav-bar-item,
.drop-down-item,
.menu-item,
.footer-item {
  list-style: none;
}

.nav-bar-item {
  display: none;
}

.menu-item {
  margin-top: 1em;
}

.logo {
  font-size: 1rem;
}

.hamburger {
  color: white;
  display: inline;
}

.nav-bar-items a,
.drop-down-menu a,
.menu-item {
  text-decoration: none;
  color: white;
}

.drop-down-menu {
  border: 1px solid black;
  height: 40vh;
  width: 100vw;
  background: black;
  position: absolute;
  top: -240vh;
  z-index: 1;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  transition: .3s;
}

.active {
  transition: .3s;
  top: 5em;
}

.drop-down-item {
  margin-top: 1.5em;
}

.nav-bar-item:hover,
.drop-down-item:hover,
.menu-item:hover {
  border-bottom: 1px solid white;
  transition: .3s;
}


.logo:hover {
  border: none;
}

.hamburger:hover {
  border-bottom: none;
  transform: scale(1.3);
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin-top: 8em;
}

main {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.type-el {
  font-size: 1.2rem;
  text-align: left;
  display: inline-block;
  margin-top: 1em;
}

.colored,
.type-el {
  color:purple
}

.name {
  font-weight: 800;
}

.footer {
  position: absolute;
  bottom: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  padding: 1em;
}

.projects-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
}

.project-img {
  display: block;
  width: 100%;
}

.projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-main h1 {
  margin-bottom: 1em;
  font-weight: 800;
}

.projects-text {
  text-align: center;
  font-size: .9rem;
}

.project {
  border: 1px solid black;
  border-radius: 20px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:1em;
  margin: 1em 0;
}

.project-name {
  margin: 1em;
}

.project-description {
  margin: 0;
}

.icon {
  animation-name: wave-animation;
  animation-duration: 2.1s; 
  animation-iteration-count: infinite; 
  transform-origin: 70% 70%; 
  display: inline-block;
}

@keyframes wave-animation {
  0% {
    transform: rotate(0deg);
  }
  10% {
    transform: rotate(14deg);
  }
  20% {
    transform: rotate(-8deg);
  }
  30% {
    transform: rotate(14deg);
  }
  40% {
    transform: rotate(-4deg);
  }
  50% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(0deg);
  } 
  100% {
    transform: rotate(0deg);
  }
}

@media(min-width: 500px) {
  .main-text {
    font-size: 7rem;
  }
  main h1 {
    font-size: 2.5rem;
  }

  .type-el {
    font-size: 2rem;
  }
  .container {
    justify-content: left;
  }
  
  main {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .nav-bar-items {
    font-size: 1rem;
    justify-content: space-around;
  }

  .nav-bar-item {
    display: inline;
  }

  .logo {
    font-size: 1.5rem;
    display: inline;
  }
  .hamburger {
    display: none;
  }

  .projects-container {
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 700px;
  }
  .project {
    margin: 1em;
    width: 28%;
  }
  .projects-text {
    font-size: 1.1rem;
  }
}

